<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Signup Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
body {
	background-image:
		url('https://wallpapercave.com/wp/wp6582780.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>
<body>
<header style="height: 30px; background-color: grey;"> </header>
	<div class="container" align="center">
		<form th:action="@{/admin/signupdetails}" method="post"
			th:object="${adminVO}">
		<br>
		<h2 align="Center">Enter Details</h2>
		<br>
		<div class="form-group">
			<label for="name">Userid:</label> 
			<input type="text" style="width: 40%;" class="form-control" th:field="*{userid}"
				placeholder="Enter userid">
		</div>
		
		<div class="form-group">
			<label for="name">Email Id:</label> 
			<input type="email" style="width: 40%;" class="form-control" th:field="*{email}"
				placeholder="Enter emailid">
		</div>
		
		<div class="form-group">
			<label for="name">Password:</label> 
			<input type="password" style="width: 40%;" class="form-control" th:field="*{password}"
				placeholder="Enter password">
		</div>
		
		<div class="form-group">
			<label for="profiePhoto">Profile Photo:</label> 
			<input type="text" style="width: 40%;" class="form-control" th:field="*{photo}"
				placeholder="Enter url">
		</div>

	<button class="btn btn-primary" type="submit">Submit</button>
	<br><br/>
	<br><br/>
	</form>
	</div>
<footer  class="ffooter">
</footer>
</body>
</html>