<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
body {
	background-image:
		url('https://wallpapercave.com/wp/wp6582780.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>
</head>

<body>
	<header style="height: 30px; background-color: green;"> </header>
	<div class="container">
		<br><br/>
		<br><br/>
		<h2 align="Center">Welcome Administrator</h2>
		<br><br/>
		<br><br/>
		<br><br/>
		<div align = "center">
		
		<a th:href="@{/admin/login}">
			<button type="submit" class="btn btn-success">Login</button>
		</a>
		
		<a th:href="@{/admin/signuppage}">
			<button type="button" class="btn btn-primary">Sign Up</button>
		</a>
		</div>
		<div align = "center">
			<h3 th:utext="${message}"></h3>
		</div>
	</div>
<footer  class="ffooter">
</footer>
</body>
</html>